<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
   

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#/about/">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      
    </div>
  </div>
</nav>
